html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-family: Consolas, monospace;
  font-weight: 300;
  background-color: #1E1E1E;
  color: #f3f3f3;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading-title {
  position: relative;
  float: left;
  span {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background-color: #1E1E1E;
    border-left: .1em solid #f3f3f3;

    -webkit-animation: typing 5s steps(8, end),
                       blink-caret 1s step-end infinite;

    -moz-animation: typing 5s steps(8, end),
                       blink-caret 1s step-end infinite;
  }
}