html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-family: Consolas, monospace;
  font-weight: 300;
  background-color: #1E1E1E;
  color: #f3f3f3;
}
.home {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading {
  height: 80px;
  width: 320px;
  margin: auto;
}
.loading-title {
  position: relative;
  float: left;
  text-align: center;
  span {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background-color: #1E1E1E;
    border-left: .1em solid #f3f3f3;

    -webkit-animation: typing 5s steps(13, end),
                       blink-caret 1s step-end infinite;

    -moz-animation: typing 5s steps(13, end),
                       blink-caret 1s step-end infinite;
  }
}
.home-footer {
  position: absolute;
  right: 0;
  bottom: 20%;
  left: 0;
  height: 90px;
  padding: 10px;
}
.social-links {
  position: relative;
  list-style: none;
  text-align: center;
  font-size: 4em;
  li {
    display: inline;
    margin-top: 20px;
    a {
      color: #f3f3f3;
      text-decoration: none;
    }
  }
}

// Blog
.blog {
  border-top: 5px solid #1e1e1e;
}
.blog-content {
  min-height: 100%;
  margin-bottom: -80px;
  &:after {
    content: "";
    display: block;
  }
}
.blog-content:after,
.main-footer {
  height: 80px;
}
.main-header {
  position: fixed;
  background: #1e1e1e;
  border-bottom: 2px solid #666;
  height: 60px;
  width: 100%;
  top: 0;
  z-index: 2;
  a {
    color: #f3f3f3;
  }
}
.main-footer {
  width: 100%;
  background: #1e1e1e;
}
.wrap-content {
  width: 50em;
  max-width: 100%;
  margin: 0 auto;
}
.main-menu {
  float: right;
}
.main-menu-links {
  position: relative;
  bottom: 25px;
  li {
    display: inline;
    margin-left: 20px;
  }
}
.logo {
  position: relative;
  top: 10px;
}
.main-content {
  position: relative;
  background: #f1f1f1;
  color: #1e1e1e;
  padding: 90px 0;
}
.post {
  padding: 10px;
  margin-bottom: 30px;
  color: #1e1e1e;
  min-height: 260px;
  border-bottom: 1px dashed #ccc;
}