@media all and (min-width : em(240)) and (max-width : em(480)) {
  .main-menu-links {
    bottom: 0;
    margin-rigth: 50%;
    li {
      margin: 0;
    }
  }
}

@media all and (min-width : em(240)) and (max-width : em(960)) {
  .wrap-content {
    padding: 0 em(15);
  }
}

@media all and
(min-width : em(1281)) {
  .wrap-content {
    width: 70em;
  }
}